@using Blog.Application.Contracts.Interfaces;
@inject IUserService UserService;

@model Blog.Web.ViewModels.Account.LoginViewModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (UserService.IsLogged(User))
{
    <script>
        window.location.href = '@Url.Action("Index", "Profile")';
    </script>
}
else
{
    <div>
        <div>
            <partial name="Login" model="Model" />
        </div>
    </div>
}
