.avatar-35 {
    width: 35px;
    height: 35px;
}

.avatar-25 {
    width: 25px;
    height: 25px;
}

html.fixed-nonsrocll-page,
body.fixed-nonsrocll-page {
    height: 100%;
    overflow: hidden;
}

.body-forfooter {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 200px;
}
