@model Blog.Web.ViewModels.Article.ArticleViewModel


@{
    ViewData["Title"] = "Изменение и создание статьи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card shadow-sm rounded-3">
                <div class="card-header bg-secondary text-white">
                    <h4 class="mb-0">Статья @Model.Title</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Article" asp-action="Create">
                        <div class="mb-3">
                            <label class="form-label">Заголовок</label>
                            <input asp-for="Title" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Описание</label>
                            <textarea asp-for="Content" class="form-control" rows="10" id="contentEditor"></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Добавить тег</label>
                            <input asp-for="TagNames" class="form-control" />
                        </div>

                        <div class="d-flex justify-content-between">
                            <a asp-controller="Profile" asp-action="Index" class="btn btn-outline-secondary bi-arrow-left">
                                Назад
                            </a>
                            <button type="submit" class="btn btn-primary bi-check-circle">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Форматировани текста-->
@* @section Scripts {
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#contentEditor',
            menubar: false,
            plugins: 'lists link image code table',
            toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist | link image | code',
            branding: false,
            height: 400
        });
    </script>
} *@
