@model Blog.Web.ViewModels.Article.ArticleViewModel


@{
	ViewData["Title"] = "Статья изменение и создание";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>@Model.Title</h5>
<p>@Model.Content</p>

