@using Blog.Web.ViewModels.Account
@model ProfileEditViewModel;

@{
    ViewData["Title"] = "Admin - Обновить профиль";
    ViewData["BodyClass"] = "fixed-nonsrocll-page";
}

<div class="block-main d-flex align-items-center justify-content-center vh-100 body-forfooter">
    <div class="w-100" style="max-width: 360px;">
        <h1 class="text-center mb-4">Регистрация</h1>

        <form method="post" asp-controller="Admin" asp-action="EditUser">
            <div class="d-flex justify-content-center">
                <img src="../images/avatar/avatar-deafult.png" class="rounded-circle img-fluid img-thumbnail w-50 p-1 mb-4" alt="avatar-image">
            </div>

            <input asp-for="Email" class="form-control mb-2">
            <input asp-for="Nickname" class="form-control mb-2">
            <textarea asp-for="Bio" class="form-control mb-4"></textarea>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Применить</button>

            <div asp-validation-summary="All" class="text-danger d-flex justify-content-center mt-2"></div>
        </form>
    </div>
</div>
